/* styles.css */
.artist-info {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .artist-info img {
            border-radius: 50%;
            margin-right: 15px;
        }
        .artist-info h1 {
            margin: 0;
        }